.dark-blue-bg {
    background-color: #435971;
}

.dark-blue {
    color: #435971;
}

.light-blue-bg {
    background-color: #d0e5ea;
}

.light-blue {
    color: #d0e5ea;
}

.med-blue-bg {
    color: #aac0cd;
}

.med-blue {
    color: #aac0cd;
}

.med-dark-blue-bg {
    color: #6e88ad;
}

.med-dark-blue {
    color: #6e88ad;
}

.pink-bg {
    background-color: #f8abbf;
}

.pink {
    color: #f8abbf;
}